@using Etel.Models;
@model IEnumerable<EtelClass>

    <form action="/Etel/List" method="get">
    @Html.DropDownList("kategoria", Html.GetEnumSelectList<EtelTipus>(), "ÖSSZES")
        <input type="submit" value="Szűrés" />
    </form>


<table>
    <thead>
        <tr>
            <th>Kép</th>
            <th>Név</th>
            <th>Tápérték</th>
            <th>Kategória</th>
            <th>Ár</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var etel in Model)
        {
            @:<tr>
                @:<td><img height="100" src="@Url.Action("GetImage", "Etel", new {Id = etel.Id})"</td>
                @:<td>@etel.Nev</td>
                @:<td>@etel.Tapertek</td>
                @:<td>@((EtelTipus)int.Parse(etel.Kategoria))</td>
                @:<td>@etel.Ar</td>
            @:</tr>
        }
    </tbody>
</table>